* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    background-color: aqua;
    height: 300px;
}

.cards__item {
    flex: 1;
    color: ivory;
    font-weight: bold;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex-grow 0.4s;
}

.cards__item:hover {
    flex-grow: 8;
}

.cards__item:hover .cards__title {
    transform: rotate(0);
}

.cards__item:nth-child(1) {
    background-color: hsl(90, 79, 30);
    background-image: url("img/1.jpeg");
    background-size: 120%;
}

.cards__item:nth-child(2) {
    background-color: rgb(16, 48, 137);
    background-image: url("img/2.jpeg");
    background-size: 120%;
}

.cards__item:nth-child(3) {
    background-color: rgb(206, 62, 158);
    background-image: url("img/3.jpeg");
    background-size: 120%;
}

.cards__item:nth-child(4) {
    background-color: rgb(218, 18, 44);
    background-image: url("img/4.jpeg");
    background-size: 120%;
}

.cards__title {
    margin: 0;
    transform: rotate(-90deg);
    transition: transform 0.4s;
}